@{
	ViewData["Title"] = "Login";
}

<div class="text-center">
	<h1 class="">Login</h1>
	<form method="post" asp-action="Login" asp-controller="Login">
		<div class="form-group">
			<label class="control-label">Email:</label>
			<input asp-for="Login" class="form-control" name="Login" />
			<label  class="control-label">Password:</label>
			<input asp-for="Password" class="form-control" type="password" name="Password" />
			@ViewData["Message"]
			<button type="submit">Log in</button>
		</div>
</div>