@{
	ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="">Добро пожаловать!</h1>
	<button class="">
		<a asp-controller="LoginController" asp-action="Login" href="@Url.Action("Login", "Login")">Войти в аккаунт</a>
	</button>
	<button class="">
		<a asp-controller="RegisterController" asp-action="Register" href="@Url.Action("Register", "Register")">Создать профиль</a>
	</button>
</div>